<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>You Download</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap4-hello-world.css' />


    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400" rel="stylesheet">


  </head>
  <body>

  <div class="bg-dark navbar-dark text-white" style="height:10vh;">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark" style="padding:20px;">
        <a class="navbar-brand" href="/"><img src="/images/Logo.png" alt="" style="width:250px;"></a>
      </nav>
    </div>
  </div>




<div class="jumbotron jumbotron-fullheight jumbo-vertical-center text-light text-center bg-dark mb-0 radius-0" style="height:90vh;">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <img src="<%= img %>" alt="" style="height:400px; object-fit:scale-down; margin-top:-12.5px;">
        <h5 class="text-light text-uppercase" style="margin-top:5px;"><%= title %></h1>

      </div>
      <div class="col-md-6">
        <h5 class="text-light text-uppercase" style=" float:left;">Links</h1>
        <div style="height : 400px; width: 100%; overflow-y:scroll;">
        <table class="table table-light" style=" height: 100%; width: 100%; margin-top:15px; ">
          <thead>
            <tr>
              <th scope="col">Format</th>
              <th scope="col">Extension</th>
              <th scope="col">Size</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody >
            <% for(var i=0; i<streams.length; i++) {%>
            <tr>
              <th scope="row"><%= streams[i].format %></th>
              <td><%= streams[i].extension %></td>
              <td><%= streams[i].filesize_pretty %></td>
              <td><a href="<%= streams[i].url %>">Click Here!</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    <div class="mt-4">
        <a href="/"
           class="btn btn-outline-light btn-hover-text-dark btn-wide btn-lg m-2">
          <span>Another One?</span>
        </a>
      </div>
  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
